@import "tailwindcss";

/* 增强表格边框和悬停样式的定制 */
.ant-table-striped .ant-table-thead > tr > th {
  background-color: #fafafa !important;
  color: #333 !important;
  font-weight: 500 !important;
  text-align: center;
}

.ant-table-striped .ant-table-tbody > tr > td {
  padding: 8px 16px !important;
}

.ant-table-striped .ant-table-thead > tr > th.ant-table-cell {
  border-bottom: 1px solid #f0f0f0;
}
